<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="/css/first.css">
    <title>Document</title>
</head>
<body>



<ul>
    <li class="bank">Bank of India</li>
    <li><a href="">Home</a></li>
    <li><a href="">About us</a></li>
    <li><a href="">Contact</a></li>

</ul>

<div class="scroll-container">
    <div class="scroll-text">🚀 Important Notice: Never share your OTP or banking details with anyone! | 💰 New Fixed Deposit Schemes Available – Check Now! | 📢 24/7 Customer Support: Call 1800-XXX-XXXX</div>
</div>


<div class="outercard">


    <a href="/login" class="user2"> <div class="card user1">
        <img src="/css/logo12.png" class="rd1">
        <span class="name1">User</span>
    </div></a>




    <a href="/login" class="admin1"><div class="card user">
        <img class="rd" src="/css/logo10.png" alt="">

        <span class="name">Admin </span>
    </div></a>
    <div class="boot">

    </div>
</div>







</body>
</html>