<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/forgotpassword.css">
    <title>Document</title>
</head>
<body>




<div class="outerblock">
    <div class="outerform">

        <form id="form5" th:method="post" th:action="@{/password-request}">
            <div th:if="${param.success}">
                    <p style="color:red">Password reset link sent successfully</p>
            </div>
            <div class="message" th:if="${error}">
               <p style="color:red">Invalid Username and Password </p>
            </div>
            <h1 style="color: white;">Forgot Password</h1>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="email" class="form-control" id="username" name="username" required>
                <div id="messageforemail">Enter the valid email</div>
            </div>


            <button type="submit" class="btn btn-primary">send reset link</button>
        </form>

    </div>

</div>


</body>
</html>