<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/confirmpassword.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Reset Password</title>
</head>
<body>


<div class="outerblock">
    <div class="outerform">

        <div th:if="${error}">
            <p style="color:red">Some error arise </p>

        </div>
        <div th:if="${success}">
            <p style="color:red">Successfully reset password</p>

        </div>
        <form id="form5" th:action="@{/reset-password}" method="post" role="form" onsubmit="return validate()" >
            <h1 style="color: white;">Password</h1>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" oninput="pass()">
                <div id="passerr" class="error">Invalid password</div>
            </div>
            <div class="mb-3">
                <label for="repassword" class="form-label">Confirm password</label>
                <input type="password" class="form-control" id="repassword" name="repassword">
                <div id="conpasserr" class="error">password Mismatch</div>
            </div>
            <input type="submit" class="btn btn-primary">
        </form>

    </div>


</div>
<script>
    function pass()
{
  const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
  let password=document.getElementById("password").value;
  const error=document.getElementById("passerr");
  if(!(passwordRegex.test(password)))
  {
    error.style.display="block";
    return false;
  }
  else
  {
   error.style.display="none";
   return true;
  }
}
function validate() {
           var password=document.getElementById("password").value;
           var repassword=document.getElementById("repassword").value;
           if(password!==repassword)
           {
               alert("password MisMatch");
               return false;
           }
           return true;
        }
</script>


</body>
</html>